<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi there, I’m Sangita! I just completed my Masters in Computer Science at the University of California, Santa Barbara. I am an aspiring software engineer with a passion for building applications and designing intuitive user experiences.</p>
      </div>
      <div class="col-lg-4">
        <p>With experience in developing for applications of AR/VR, industry and research related software engineering, and AI powered workflows, I enjoy tackling complex problems to improve user experiences and leverage human-AI interaction.</p>
        <p>When I’m not coding or designing, you can find me at the gym, trying out a new recipe I found on Instagram, or bullet journaling!</p>
      </div>
    </div>
  </div>
</section>
