<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I’m Sangita! I’m currently a Master's student at the University of California, Santa Barbara. I am an aspiring software engineer with a passion for building intelligent systems and designing intuitive user experiences.</p>
      </div>
      <div class="col-lg-4">
        <p>With experience in machine learning, AR/VR, and AI-powered tools, I love tackling complex problems that improve accessibility and enhance human-AI interactions. 
          When I’m not coding, I’m exploring innovative ways to make technology more explainable and engaging. Let’s connect! </p>
      </div>
    </div>
  </div>
</section>
