<!-- Reser Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I’m Sangita! I just finished up my Master's at the University of California, Santa Barbara. I am an aspiring software engineer with a passion for building intelligent systems and designing intuitive user experiences.</p>
      </div>
      <div class="col-lg-4">
        <p>With experience in developing for applications of AR/VR, user-facing software engineering, and AI powered workflows, I love tackling complex problems that improve user experiences and leverage human-AI interactions. 
          When I’m not coding or designing, you can find me at the gym, trying out a new recipe I found on Instagram, or bullet journaling!</p>
      </div>
    </div>
  </div>
</section>
